<!DOCTYPE html>
<html>
  <head>
    <title>acceleration_input</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
          var input_amount = 3;
          $("#add_button").click
          (
            function()
            {
              input_amount++;
              $("#add_input_button").append('<input type="text" name="position" id=""> <br>');      
              console.log("Add a input");
            }
          );
          $("#del_button").click
          (
            function()
            {
                if (input_amount > 3)
                {
                    input_amount--;
                    $('input[name="position"] + br')[input_amount].remove()
                    $('input[name="position"]')[input_amount].remove()
                    console.log("Del a input");
                }
                else
                {
                    console.log("input is <= 3");
                }
            }
          );
        });
        var position = [
            {% for i in positionJ %}
            {{ i }},
            {% endfor %}
        ]
        var displacement = [
            {% for i in displacementJ %}
            {{ i }},
            {% endfor %}
        ]
        var velocity = [
            {% for i in velocityJ %}
            {{ i }},
            {% endfor %}
        ]
        var change_velocity = [
            {% for i in change_velocityJ %}
            {{ i }},
            {% endfor %}
        ]
        var acceleration = [
            {% for i in accelerationJ %}
            {{ i }},
            {% endfor %}
        ]
    </script>
  </head>
<body>
    <form name="DnPdata" method="POST" action="">
    {% csrf_token %}
        <label for="dot"> 打點間隔 : </label>
        <input type="text" name="dot" id="dot" value="{{dot}}"> <br>
        <input type="button" id="add_button" name="add_button" value="Add Line">
        <input type="button" id="del_button" name="del_button" value="Del Line"> <br>
        <input type="text" name="position" id=""> <br>
        <input type="text" name="position" id=""> <br>
        <input type="text" name="position" id=""> <br>
        <div id="add_input_button"></div>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>
